<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
        <form id='decklist_form' name='decklist_form'>
		<textarea id='decklist_text' name='decklist_text' placeholder='decklist'></textarea>
		<input id='decklist_files' name='decklist_files' type='file' multiple accept='.txt, .csv, .dek'>
        </form>
		<button id='calc' name='calc' type='button'>calc</button>
		<button id='reload' name='reload' type='button'>reload deck file</button>
		<p>your deck's (cheapest) price. (thanks to <a href='https://www.goatbots.com/3dh_february_2019.html'>goatbots (ver 2019-02-08)</a>!)</p>
		<output id='priceTables'></output>
		<script src='deck.js'></script>
		<script src='main.js'></script>
	</body>
</html>
