<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
        <form id='decklist_form' name='decklist_form'>
		<textarea id='decklist_text' name='decklist_text' placeholder='decklist'></textarea>
		<input id='decklist_files' name='decklist_files' type='file' multiple accept='.txt'>
        </form>
		<button id='calc' name='calc' type='button'>calc</button>
		<button id='reload' name='reload' type='button'>reload deck file</button>
		<input id='fetch' type='checkbox'><label for='fetch'>Fetch latest price from goatbots</label>
		<input id='date' type='date'><label for='date'>prices at the date</label>
		<p>your deck's (cheapest) price. (thanks to <a href='https://www.goatbots.com/3dh_july_2018.html'>goatbots (ver 2018-07-20)</a>!)</p>
		<p>These abbreviation of Magic Set is from goatbots, so it's non-standard.</p>
		<output id='priceTables'></output>
		<script src='deck.js'></script>
		<script src='main.js'></script>
	</body>
</html>
