<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
        <form id='decklist_form' name='decklist_form'>
		<textarea id='decklist_text' name='decklist_text' placeholder='decklist'></textarea>
		<input id='decklist_files' name='decklist_files' type='file' multiple accept='.txt, .csv, .dek'>
        </form>
		<button id='calc' name='calc' type='button'>calc</button>
		<button id='reload' name='reload' type='button'>reload deck file</button>
		<input id='date' type='date'><label for='date'>prices at the date</label>
		<output id='priceTables'></output>
		<script src='deck.js'></script>
		<script src='main.js'></script>
	</body>
</html>
